<% @gifts.each do |gift| %>
  <div class = "gift edit">
  <%= gift.name %>
  <%= form_for(:gift, :url => {:action => 'update', :id => gift.id}) do |f| %>
  
  <div class="field">
    <%= f.label :player %><br />
    <%= f.select :player_id, options_for_select(Player.all.map{|p|[p.name, p.id]}) %>
  </div>
  <div class="form buttons btn">
    <%= submit_tag("Edit gift", :class => 'btn') %>
  </div>

  <% end %>
</div>
  <% end %>

  <%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

