<table summary = "player form fields">
  <tr>
    <th><%= f.label(:name) %></th>  </tr>
    <tr>
    <td><%= f.text_field(:name) %></td>
  </tr>
   <div class="field">
    <%= f.label :turn %><br />
    <%= f.label :turn, "Yes", :value => "true"  %>
    <%= f.radio_button :turn, true %>
    <%= f.label :turn, "No", :value => "false" %>
    <%= f.radio_button :turn, false, :checked => true %>
  </div>
</table>