<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class = "player new">
  <h2>Add Player</h2>

  <%= form_for(:player, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="field">
    <%= f.label :game %><br />
    <%= f.select :game_id, options_for_select(Game.all.map{|g|[g.name, g.id]}) %>
  </div>

  <div class="form buttons">
    <%= submit_tag("Add new player", :class => 'btn') %>
  </div>

  <% end %>
</div>