<% page_title = "Login" %>

<div class="login list">
  <%= form_tag(:action => 'attempt_login') do %>
  <table>
    <tr class="login">
      <td><%= label_tag(:username) %></td>
      <td><%= text_field_tag(:username) %></td>
    </tr>
    <tr class="login">
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr class="login">
      <td></td>
      <td><%= submit_tag("Log In", :class => 'btn') %></td>
    </tr>
  </table>
  <% end %>
</div>