<div class="banner"><h2 class="banner"><a href="/" class="home">Mattson Gift Game</a></h2></div>
<div class="container">
  <div class="col-md-3 col-md-offset-5 login">
    <h3>You must be logged in to edit.</h3>
    <%= form_tag(:action => 'attempt_login') do %>
    <table>
      <tr class="login">
        <td><%= label_tag(:name) %></td>
        <td><%= text_field_tag(:name) %></td>
      </tr>
      <tr class="login">
        <td><%= label_tag(:password) %></td>
        <td><%= password_field_tag(:password) %></td>
      </tr>
      <tr class="login">
        <td></td>
        <td><%= submit_tag("Log In", :class => 'btn') %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>