<!DOCTYPE html>
<html>
<head>
  <title>Yankee Swap</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <style>
    .turn {
      background-color: green;
    }
  </style>
</head>
<body>
<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<%= yield %>

</body>
</html>
